.sidebar {
  width: 250px;
  background-color: #15171c;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid rgba(255, 255, 255, 0.08);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.sidebar-header h2 {
  font-size: 1.35rem;
  font-weight: 700;
  color: #00bcd4;
  text-transform: uppercase;
  text-align: center;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar-nav li a {
  text-decoration: none;
  color: #ccc;
  font-size: 1rem;
  display: block;
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.sidebar-nav li a:hover {
  background: #00bcd4;
  color: #111;
  transform: translateX(4px);
}
