#root {
  margin: 0;
  padding: 0;
  max-width: none;
  width: 100%;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background: transparent;
  font-family: "Poppins", sans-serif;
}
